& when (iscolor(@admins)) {
  /* Admin highlighter
   * By Chris7 & Catorce (http://gathering.tweakers.net/forum/list_message/41368148#41368148)
   */
  .crew {
    color: @admins;
  }
}

& when (@showPostedAt) {
  /* Show posted at for forum posts
   * By Wiethoofd (http://gathering.tweakers.net/forum/list_message/39124431#39124431)
   */
  .message .messageheader .date a {
    text-transform: lowercase;
  }
  .message .messageheader .date a:before {
    content: 'Geplaatst op ';
    text-transform: none;
  }
}

& when (@placePostsClose) {
  /* Place posts close togher
   * By Wiethoofd (http://gathering.tweakers.net/forum/list_message/39124431#39124431)
   */
  /* Dit zal vast meer fixes nodig hebben dan de h2 bij de quotes! */
  div.message, div.faq {
    margin-top: -16px;
  }
  #quotemessages h2 {
    padding-bottom: 15px;
  }
}

& when (@replyStyleNewMessages) {
  /* Get "X nieuwe berichten" in the same style as replies
   * By ikbenwouter (http://gathering.tweakers.net/forum/list_message/39124472#39124472)
   */
  #newMessageNotification {
    background-color: #EDEEEE;
    border: 1px solid #DDDEDE;
  }
  #newMessageNotification:hover, #newMessageNotification.error {
    background-color: #ddd;
  }
}

& when (@lessSpaceBetweenTopicTitles) {
  /* Less space between topic titles
   * By Kamstra & Wiethoofd (http://gathering.tweakers.net/forum/list_message/39126000#39126000)
   */
  table.listing td, table.listing th {
    padding: 4px 5px;
  }
}

& when (@hideLastReply) {
  /* Last reply in topic hides topic title
   * By Wiethoofd (http://wiethoofd.tweakblogs.net/blog/8379/must-have-forum-custom-css-tweaks-%28non-layout-related%29.html)
   */
  table.listing tbody tr td.topic a[title~="@{username}"], table.listing tbody tr td.topic a[title~="@{username}"] + small a {
    color: #BBB;
  }
}

& when (@lessObviousThumbsUp) {
  /* Smaller and half transparent thumbs up
   * By incaz (http://gathering.tweakers.net/forum/list_message/44806068#44806068)
   */
  .action_list li.rating {
    transform: scale(0.5);
    opacity: 0.4;
  }
  span.thumbsup{
    transform: scale(0.75) !important;
  }
}

& when (@hideThumbsUp) {
  /* Hide thumbs up
   * By WernerL (http://gathering.tweakers.net/forum/list_message/44803714#44803714)
   */
  .action_list li.rating {
    display: none !important;
  }
}